# Tuplas vs Listas

## Diferencias entre Listas y Tuplas en Python

### Mutabilidad
- **Lista**: Mutable. Permite modificaciones después de su creación.
- **Tupla**: Inmutable. No permite cambios una vez creada.

### Sintaxis
- **Lista**: Definidas con corchetes `[]`, e.g., `mi_lista = [1, 2, 3]`.
- **Tupla**: Definidas con paréntesis `()`, e.g., `mi_tupla = (1, 2, 3)`. Para una tupla de un solo elemento: `mi_tupla = (1,)`.

### Uso de Memoria
- **Lista**: Utiliza más memoria debido a la mutabilidad.
- **Tupla**: Utiliza menos memoria al ser de tamaño fijo e inmutable.

### Velocidad de Procesamiento
- **Lista**: Puede ser más lenta comparada con la tupla debido a su capacidad de mutar.
- **Tupla**: Generalmente más rápida que la lista en iteración debido a su inmutabilidad.

### Casos de Uso
- **Lista**: Ideal para colecciones de datos que pueden cambiar durante la vida del programa. Se usan comúnmente para almacenar colecciones de ítems homogéneos o heterogéneos donde la modificación es necesaria.
- **Tupla**: Apropiadas para colecciones de datos que no deben cambiar, como los datos de configuración de un programa. También son útiles cuando se quiere asegurar que los datos no se modificarán accidentalmente.

In [ ]:
A = [1, 2, 3, "4"]
B = ("uno", "dos", "tres", 4)

print(A)
print(B)

[1, 2, 3, 'cuatro']
('uno', 'dos', 'tres', 4)

In [2]:
print( type(A) )
print( type(B) )

<class 'list'>
<class 'tuple'>

In [ ]:
AA = tuple(A)
BB = list(B)

print(AA)
print(BB)

(1, 2, 3, 'cuatro')
['uno', 'dos', 'tres', 4]

In [ ]:
print( type(AA) )
print( type(BB) )

<class 'tuple'>
<class 'list'>

In [ ]:
# Contamos cuántas veces aparece el número 1 en la tupla AA
print("Número de '1' en AA:", AA.count(1))

# Usamos index para encontrar la primera aparición de un elemento
# Buscamos la posición del string "tres" en la tupla B
print("Índice de 'tres' en B:", B.index("tres"))

Número de '1' en AA: 1
Índice de 'tres' en B: 2

# Diccionarios

Un diccionario es una colección de pares formados por una clave o llave y un valor asociado a la llave.

Los datos tipo diccionario son de la forma `{clave0:valor0, clave1:valor1, clave2:valor2, ....}`

A tener en cuenta que un diccionario:

- No tienen orden.
- Pueden contener datos de distintos tipos.
- Pueden alterarse durante la ejecución de un programa (mutables).
- Las claves son únicas, es decir, no pueden repetirse en un mismo diccionario, y pueden ser de cualquier tipo de datos inmutable.

In [4]:
# diccionario vacio
Dicc0 = {}
type(Dicc0)

dict

In [9]:
# diccionario de strings
Dicc1 = {"Boyaca":"Tunja", "Caldas":"Manizales", "Antioquia":"Medellin", "Amazonas":"Leticia", "Huila":"Neiva"}
print(Dicc1, type(Dicc1), sep="\n")

{'Boyaca': 'Tunja', 'Caldas': 'Manizales', 'Antioquia': 'Medellin', 'Amazonas': 'Leticia', 'Huila': 'Neiva'}
<class 'dict'>

In [3]:
# diccionario con mezcla de tipos de datos
pers1 = {"Nombre":"Julian", "Edad":55, "Estatura":1.86, "Pensionado":False, 1010123:"unknow"}
pers2 = {"Nombre":"Sarah", "Edad":68, "Estatura":1.63, "Pensionado":True, 4563.23:"error"}
print(pers1, type(pers1), sep="\n")
print(pers2, type(pers2), sep="\n")

{'Nombre': 'Julian', 'Edad': 55, 'Estatura': 1.86, 'Pensionado': False, 1010123: 'unknow'}
<class 'dict'>
{'Nombre': 'Sarah', 'Edad': 68, 'Estatura': 1.63, 'Pensionado': True, 4563.23: 'error'}
<class 'dict'>

In [5]:
Ganadores = {"Semana1":[2,3,8,9],"Semana2":[12,13,96,19]}
type(Ganadores)

dict

In [6]:
sector = {"Empresa1":{"Nit":13546, "No_Empleados":65},"Empresa2":{"Nit":8552221, "No_Empleados":100}}
type(sector)

dict

In [10]:
print(sector["Empresa1"])
print(pers1["Nombre"])

{'Nit': 13546, 'No_Empleados': 65}
Julian

In [11]:
sector

{'Empresa1': {'Nit': 13546, 'No_Empleados': 65},
 'Empresa2': {'Nit': 8552221, 'No_Empleados': 100}}

In [13]:
print(sector.get("Empresa1333", "Esta empresa no existe"))
print(pers1.get("Nombre"))

Esta empresa no existe
Julian

# Otras funciones

In [11]:
curiosos = {2:"unico par primo", 9:"el principio y el fin", 23:"acontecimientos famosos", 13:"suerte", 26:"unico en medio de cuadrado y cubo",
            -1:"el mas importante", 73:"espejo"}
len(curiosos)

7

In [12]:
min(curiosos)

-1

In [13]:
max(curiosos)

73

In [14]:
sum(curiosos)

145

In [15]:
print(6 in curiosos, 23 in curiosos, sep="\n")

False
True

- `d.keys()` : Devuelve un iterador sobre las claves de un diccionario.
- `d.values()` : Devuelve un iterador sobre los valores de un diccionario.
- `d.items()` : Devuelve un iterador sobre los pares clave-valor de un diccionario.

In [ ]:
type(curiosos.keys())

dict_keys([2, 9, 23, 13, 26, -1, 73])

In [25]:
type(curiosos.values())

dict_values

In [23]:
curiosos.items()

dict_items([(2, 'unico par primo'), (9, 'el principio y el fin'), (23, 'acontecimientos famosos'), (13, 'suerte'), (26, 'unico en medio de cuadrado y cubo'), (-1, 'el mas importante'), (73, 'espejo')])

## Ejemplo

In [27]:
client={1501207:
                {"nombre":"Pedro",
                "email":"pedrin@cenia.mx",
                "VIP":True,
                "Compra":{"Fecha":"02/02/2023",
                           "Pedido":["Agua", "comidaPerro", "Cervezas"],
                           "Costo":45000}
                 },
        8840529:
                {"nombre":"Ricardo",
                "email":"richi_89@gmail.co",
                "VIP":True,
                "Compra":{"Fecha":"14/02/2023",
                           "Pedido":["Arroz", "Pollo", "Papas", "Moras"],
                           "Costo":67850}
                 },
        5170102:
                {"nombre":"Samantha",
                "email":"smth@edu.com",
                "VIP":False,
                "Compra":{"Fecha":"28/01/2023",
                           "Pedido":["Leche", "Verduras"],
                           "Costo":12500}
                 },
        90915628:
                {"nombre":"Lucero",
                "email":"luce_thebest@comarca.es",
                "VIP":False},
        25259902:
                {"nombre":"Norman",
                "email":"novelas_norman@editorial.fr",
                "VIP":True,
                "Compra":{"Fecha":"17/01/2023",
                           "Pedido":["cremaDental"],
                           "Costo":14200}
                 },
        10001007:
                {"nombre":"Laura",
                "email":"lau-laura@outlook.xp",
                "VIP":True,
                "Compra":{"Fecha":"14/02/2023",
                           "Pedido":["Alcohol", "Desodorante", "Cocos", "Bananos"],
                           "Costo": 38900}
                 }
}

In [32]:
client[10001007]["Compra"]["Pedido"][0]

'Alcohol'

In [33]:
client.keys()

dict_keys([1501207, 8840529, 5170102, 90915628, 25259902, 10001007])

# Condicionales (if)

Su estrucctura es:

>`if` `condición1`: \\
>    `bloque de código1` \\
>`elif` `condición2:` \\
>    `bloque de código2` \\
>`elif` `condición3:` \\
>    `bloque de código3` \\
>  `. . .` \\
>  `. . .` \\
>`else :` \\
>    `bloque código_n`

El flujo de ejecución empieza por evaluar la expresión lógica `condición1`; de ser `True` se procede a efectuar las líneas en `bloque de código1`, si es `False` evalúa las siguientes condiciones hasta llegar a la primera que es `True` y ejecuta su bloque de código asociado. Si ninguna condición es True ejecuta el bloque de código después de la instrucción `else`. En el momento en que se realice cualquier bloque de código se da por terminado el flujo de ejecución del `if`.

**Reglas de construcción de un condicionales `if`:**

- Pueden aparecer varios (o ninguno) bloques `elif` pero solo uno (o ninguno) `else` al final.

- Los bloques de código deben estar indentados por 4 espacios.

In [36]:
V = float(input("Rapidez a la que se desplaza el automóvil (Km/h): "))
if V < 80:
  print("Velocidad Moderada")
else:
  print("EXCESO - BAJE LA VELOCIDAD")

Rapidez a la que se desplaza el automóvil (Km/h): 120
EXCESO - BAJE LA VELOCIDAD

In [41]:
n = int(input("Dame un numero natural: "))
if n%2 == 0:
  print("Es un numero par")
elif n%2 ==1:
  print("Es un numero impar")

Dame un numero natural: 9
Es un numero impar

In [19]:
Nota=float(input("Ingrese su nota definitiva: "))

if Nota<0 or Nota>5:
    print("Nota invalida")
elif Nota<1.5:
    print("Deficiente")
elif Nota<3:
    print("Insuficiente")
elif Nota<4:
    print("Aceptable")
elif Nota<4.5:
    print("Sobresaliente")
else:
    print("Exelente")

Nota invalida

In [44]:
L1 = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes"]
L2 = ["Sabado", "Domingo"]
dia = input("Escribe un dia de la semana: ").title()
if dia in L1:
  print("Dia entre semana")
elif dia in L2:
  print("Dia de fin de semana")
else:
  print("Caracter invalido")

Escribe un dia de la semana: Lunes
Dia entre semana

**Escriban un programa que reciba 2 numeros e imprima en pantalla el menor**

In [45]:
n1 = int(input("Dame un numero natural: "))
n2 = int(input("Dame otro numero natural: "))

if n1 < n2:
    print(n1)

else:
    print(n2)

Dame un numero natural: 9
Dame otro numero natural: 3
3

In [46]:
# Función para encontrar el número menor

def encontrar_menor(num1, num2):

    if num1 < num2:

        return num1

    else:

        return num2

# Recepción de números

numero1 = float(input("Ingresa el primer número: "))

numero2 = float(input("Ingresa el segundo número: "))

# Llamada a la función y impresión del resultado

print("El número menor es: ", encontrar_menor(numero1, numero2))

Ingresa el primer número: 9
Ingresa el segundo número: 3
El número menor es:  3.0

In [47]:
Num1=input("Por favor digite el primer número")
Num2=input("Por favor digite el segundo número")
if Num1<Num2:
  print("El número menor entre ellos es el primero que se digitó", Num1)
else:
  print("El número menor entre ellos es el segundo que se digitó", Num2)

Por favor digite el primer número9
Por favor digite el segundo número3
El número menor entre ellos es el segundo que se digitó 3